@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

ul {
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #363c55;
}

table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #363c55;
}

td,
th {
  border: 1px solid #363c55;
}

td {
  padding: 2rem 0.8rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
